gis-proxy/.factorypath
**/obj/
packages/
**/bin/
**/v14/.suo
.vs/
target/
dist/
server/measures.ser
*.csproj.user
*wpftmp.csproj
server/db/*
server/logs/
server/migrationLog/
*.trx
client/GeneratedReports/
client/Table/Table.csproj.user
client/ROADSClients.sln.DotSettings.user
server/logs/spring.log
TestResults/
scripts/Desk/
scripts/Table/
scripts/Server-WPS/
scripts/Server-LSBG/
scripts/GisProxy/
client/TestResults/
server/data/elasticsearch/nodes/0/node.lock
server/data/elasticsearch/nodes/0/_state/global-0.st
server/data/elasticsearch/nodes/0/_state/global-4.st
server/data/elasticsearch/nodes/0/_state/global-5.st
server/test.log
server/db.lck
server/src/main/resources/dbSchema/db-delta.changelog.xml
server/hs_err_pid8792.log
doc/.settings/
publication-server/logs/
*.iml
**/.idea/*
!**/.idea/codeStyles
!**/.idea/inspectionProfiles
**/Thumbs.db
publication-server/.project
docker-compose/entire-system-dev/publication-server-couchdb-data/
docker-compose/entire-system-dev/administration-server-hsql-data/
scripts/Server/
docker-compose/publication-server-getagt/publication-server-couchdb-data
server/sampledata/snh/Export/SNH-Export-2017-04-05-154000.xml
server/sampledata/snh/Export/SNH-Export-2017-04-06-093800.xml
sampledata/snh/Export/SNH-Export-2017-04-20-111700.xml
hub/logs/
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/Virtual Hard Disks/packer-virtualbox-ovf-1489844409.vhd
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/action_provision
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/creator_uid
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/id
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/index_uuid
Infrastructure/TestActiveDirectory/.vagrant/machines/windows-domain-controller/hyperv/synced_folders
Infrastructure/docker/gis-proxy/cache/**
gis-proxy/.factorypath
gis-proxy/cache/**
server/.settings/
sampledata/infocenter/SQL_ProjektInfoDaten_2017_08_10_100000.csv
sampledata/infocenter/SQL_ProjektInfoDaten_2017_08_10_064700.csv
sampledata/infocenter/SQL_ProjektInfoDaten_2017_08_10_102400.csv
server_core/.project
server_core/.settings
server_core/.classpath
server_parent/.settings
server_parent/.project
publication-server/.settings/org.eclipse.wst.common.project.facet.core.xml
server/RemoteSystemsTempFiles/.project
server/segmentationData.ser
.project
.settings
.classpath
*.jar
.mvn/
node/node_modules/
doc/.project
doc/target/
doc/.classpath
doc/html/.asciidoctor/
server/sampledata/snh/Export/SNH-Export-2017-04-20-111700.xml
server/.factorypath
**/node_modules/
.vs/
*.core.prefs
client/UpgradeLog*.htm
*.sln.DotSettings.user
*.csproj.DotSettings
sampledata/snh/bmek.xml

**/*.ncrunchsolution.user
**/*.ncrunchproject.user
**/*_NCrunch*
copiedSources/
roadsSources.zip
Infrastructure/monitoring/mount/
sampledata/test/
sampledata/lucene/
server/.checkstyle

**/*.GeneratedMSBuildEditorConfig.editorconfig
**/TestResult.xml

# vim undo files
**/*~
